body{
    background-color: black;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
    color: white;  
}


#button{
    height: 60px;
    width: 300px;
    border: solid 2px #808080;
    background-color: black;
    color: white;
}